@font-face {
    font-family: "Rancho";
    src: url("../fonts/Rancho.ttf");
}

/* reset setting */
html {
    height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: white;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; /* при указании внутренних padding - ширина не учитывается */
}

a {cursor: pointer;}
a:hover {text-decoration: none;}
a:active,
a:hover {outline:0;}

img {border: none;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}

/* NAVBAR */
.navbar {
    background: rgba(0, 0, 0, 0.44);
    border-bottom: none;
}
.navbar-brand {
    padding: 6px;
}
.navbar-default .navbar-brand {
    color: #f4f6ad;
    font: 28px 'Rancho', cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover{
    color: white;
    transition: all .5s;
}
.navbar-default .navbar-nav > li > a {
    color: #c8ca87;
}
.links-left {
    position: relative;
    left: 10%;
}

/* Dropdown menu */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #c8ca87;
    background: rgba(0, 0, 0, 0.24);
}
.dropdown-menu {
    border: none;
    background: rgba(0, 0, 0, 0.25);
}
.dropdown-menu>li>a {
    color: #c8ca87;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: rgba(0, 0, 0, 0.11);
    transition: all .8s;
    color: #c8ca87;
}

/* Collapse */
.navbar-default .navbar-toggle {
    border-color: #f4f6ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 140, 0.11);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4f6ad;
}


/* HEADER */
.intro-header {
    text-align: center;
    color: white;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* при прокрутке страницы картинка фона (intro-bg) остается на месте*/
}
.intro-message {
    position: relative;
    padding-bottom: 20%;
    padding-top: 20%;
    font-family: 'Rancho', cursive;
}
.intro-message h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.54);
    font-size: 7em;
}
.intro-message h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.54);
    font-size: 3em;
}

/* CATEGORY */
.category-1 {
    margin: 50px;
}


/* @media */
/* Lg devices, wide screens */
@media only screen and (max-width: 1200px) {

}

/* M devices, Desctops */
@media only screen and (max-width: 992px) {

}

/* Sm devices, tablets */
@media only screen and (max-width: 767px) {

}

/* Xs devices, phones */
@media only screen and (max-width: 480px) {

}
