@font-face {
    font-family: 'Rancho';
    src: url("../fonts/Rancho.ttf");
}

/* reset setting */
html {
    height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
    color: #898989;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     /* при указании внутренних padding - ширина не учитывается */
}
a {cursor: pointer;}
a:hover {text-decoration: none;}
a:active,
a:hover {outline:0;}

img {border: none;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}



/* NAVBAR */
.navbar {
    background: rgb(0, 0, 0);
    border-bottom: none;
}
.navbar-default .navbar-brand {
    padding: 6px;
    font: 28px 'Rancho', cursive;
    color: #f3f4d2;
    text-shadow: 2px 2px 3px rgb(240, 242, 37);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover{
    color: #fffffe;
    transition: all .5s;
}
.navbar-default .navbar-nav > li > a {
    color: #f1ebb6;
}
.links-left {
    position: relative;
    left: 10%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f1ebb6;
    background: rgba(244, 244, 244, 0.16);    /* изменение цвета scroll spy */
}

/* Dropdown menu */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #f1ebb6;                  /* цвет ссылки при появлении выпадающего меню меню */
    background: rgba(244, 244, 244, 0.16); /* подсветка ссылки, содержащей выпадающее меню */
}
.navbar-nav > li > .dropdown-menu {
    border: none;
    background-color: rgb(29, 29, 29);
}
.dropdown-menu > li > a {
    color: #a6a179;
}
.dropdown-menu>li>a:focus,
.dropdown-menu >li>a:hover {
    color: #f1ebb6;
    background: rgba(244, 244, 244, 0.16);
    transition: all .8s;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f1ebb6;
    background-color: rgba(244, 244, 244, 0.16);    /* изменение цвета scroll spy в выпадающем меню */
}


/* Collapse */
.navbar-default .navbar-toggle {
    border-color: #f1ebb6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(244, 244, 244, 0.16);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f1ebb6;
}


/* HEADER */
.intro-header {
    text-align: center;
    color: #f2f2f2;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* при прокрутке страницы картинка фона (intro-bg) остается на месте*/
}
.intro-message {
    position: relative;
    font-family: 'Rancho', cursive;
    padding-bottom: 22.5%;
    padding-top: 22.5%;
    text-shadow: 2px 2px 3px rgb(229, 185, 76);
}
.intro-message h1 {
    font-size: 8em;
}
.intro-message h3 {
    font-size: 3em;
}


/* CAROUSEL */
.carousel-inner > .item > img {
    height: 550px;
}
.carousel-caption {
    font-family: 'Rancho', cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.54);
}
.carousel-caption h2 {
    font-size: 4em;
}
.carousel-caption p {
    font-size: 2em;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before{
    color: rgb(156, 152, 153);  /* цвет стрелочек */
}

/* Nav-tabs */
.tab-back {
    background-color: #FFFFFF;
}
.tab-content {
    margin-bottom: 45px;
}
.nav-tabs {
    border-bottom: 1px solid rgba(221, 221, 221, 0.58);
}
.nav-tabs > li > a,
.nav-tabs .dropdown-menu > li > a {
    color: #cbcbcb;
}
.nav-tabs > li > a:hover {
    color: #f1ebb6;
    background: rgba(244, 244, 244, 0.16);
    border-color: rgba(221, 221, 221, 0.58);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #f1ebb6;
    background-color: #000000;
    border-top: 1px solid rgba(221, 221, 221, 0.58);
    border-right: 1px solid rgba(221, 221, 221, 0.58);
    border-left: 1px solid rgba(221, 221, 221, 0.58);
}
.nav .open > a,          /* настройка dropdown*/
.nav .open > a:hover,
.nav .open > a:focus {
    background: rgba(244, 244, 244, 0.16);
}
.nav-tabs .dropdown-menu {
    background: rgba(244, 244, 244, 0.16);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: rgba(221, 221, 221, 0.58);
}
.nav-tabs .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #f1ebb6;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: rgba(0, 0, 0, 0.51);
}
.tab-content {
    margin-top: 25px;
}

/* Nav-tabs => Info */
.info-img {
    max-width: 97%;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    text-align: center;
}
.personal_info {
    text-align: center;
}
.info-description {
    text-align: justify;
    background-color: #1b1c1a;
    padding: 10px;
    border-radius: 7px;
}
.info_main_body {
    margin-top: 3%;
}
.info-img-main {
    max-width: 95%;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.personal_info_main {
    text-align: center;
}


/* Nav-tabs => Gallery */
.thumbnail {
    background: #f2f3ef;
    border-radius: 7px;
}
.thumbnail img {
    border-radius: 7px;
}
.thumbnail .caption h3 {        /* подпись к картинке в галерее*/
    font-family: 'Rancho', cursive;
    color: #000;
    background: rgba(255, 255, 255, 0.73);
    padding: 10px 10px 5px 10px;
    position: absolute;
    bottom: 30%;
    left: 4%;
    border-top-right-radius: 15px;
    border: 5px solid #f2f3ef;
}
.thumbnail p {
    color: #2c2c2c;
    text-align: justify;
}

/* Video */
#video1 {
    background-color: #1b1c1a;
    border-radius: 7px;
}
#video1 h2 {
    position: relative;
    left: 61%;
    color: #d6d09c;
}
#video1 p {
    padding: 15px;
}
#video1 iframe {
    border-radius: 7px;
    margin: 20px 5px 5px 0;
}

/* Category */
.container > .row {
    margin-top: 50px;
}
.category-1,
.category-2{
    text-align: justify;
}

/* Spoiler */
a.spoiler:after {
    content: " \f056";          /* [ - ] */
    font-family: "FontAwesome"; /* обязательно! иначе иконка не отобразится */
}
a.spoiler.collapsed:after {
    content: " \f055";          /* [ + ] */
    font-family: "FontAwesome";
}
.well {
    background: rgba(157, 157, 157, 0.16);
    border: none;
}
.btn-default,
.btn-default:focus {
    color: #dddddd;
    background-color: rgba(136, 136, 136, 0.24);
    border: none;
}
.btn-default:hover {
    color: #dddddd;
    background-color: rgba(157, 157, 157, 0.16);
}

/* Modal window */
.m-window {
    float:right;
    margin-bottom: 20px;
}
button.close {
    color: #FFFFFF;
    text-shadow: none;
}
button.close:hover {
    color: #FFFFFF;
}
.modal-header,
.modal-body,
.modal-footer {
    background: rgb(26, 26, 26);
}
.modal-header {
    border-bottom: 1px solid rgba(221, 221, 221, 0.25);
}
.modal-footer {
    border-top: 1px solid rgba(221, 221, 221, 0.25);
}


/* @media */
/* Lg devices, wide screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .thumbnail .caption h3 {        /* подпись к картинке в галерее*/
        bottom: 38%;
        left: 6%;
    }
}

/* M devices, Desctops */
@media only screen and (max-width: 992px) {

}

/* Sm devices, tablets */
@media only screen and (max-width: 767px) {
    /* Collapse */
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-nav > li > a:hover {
        background-color: rgba(244, 244, 244, 0.16);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: #a6a179;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f1ebb6;
        background-color: rgba(244, 244, 244, 0.16);
    }
    .thumbnail .caption h3 {        /* подпись к картинке в галерее*/
        bottom: 13%;
        left: 2%;
    }
}

@media only screen and (max-width: 731px) {
    .thumbnail .caption h3 {
        bottom: 13.7%;
        left: 2.5%;
    }
}
@media only screen and (max-width: 657px) {
    .thumbnail .caption h3 {
        bottom: 14.5%;
    }
}
@media only screen and (max-width: 636px) {
    .thumbnail .caption h3 {
        bottom: 15%;
    }
}
@media only screen and (max-width: 615px) {
    .thumbnail .caption h3 {
        bottom: 18%;
    }
}
@media only screen and (max-width: 595px) {
    .thumbnail .caption h3 {
        bottom: 19%;
        left: 3%;
    }
}
@media only screen and (max-width: 530px) {
    .thumbnail .caption h3 {
        bottom: 20%;
    }
}
@media only screen and (max-width: 500px) {
    .thumbnail .caption h3 {
        bottom: 22%;
    }
}
@media only screen and (max-width: 480px) {
    .thumbnail .caption h3 {
        left: 4%;
    }
}
@media only screen and (max-width: 443px) {
    .thumbnail .caption h3 {
        bottom: 24%;
    }
}
@media only screen and (max-width: 433px) {
    .thumbnail .caption h3 {
        bottom: 28%;
    }
}

